<div class="wrapper">
  <h1 class="page-header">SpaceX Launch Program</h1>
  <div class="page-container">
      <!-- Filters -->
      <div class="lft-sidebar">
        <form [formGroup]="launchForm">
          <h3>Filters</h3>
          <!-- Launch Year -->
          <div class="filter-box">
              <h4>Launch Year</h4>
              <ul>
                  <li [class.active]="selectedIndex == i" *ngFor="let year of years; let i=index">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="year" > 
                      <mat-button-toggle value="{{year}}" (click)="selectedIndex = i" (click)="filterOnAllParams()" >{{year}}</mat-button-toggle>
                    </mat-button-toggle-group>
                  </li>
              </ul>
          </div>
          <!--/ Launch Year -->

          <!-- Successful Launch -->
          <div class="filter-box">
              <h4>Successful Launch</h4>
              <ul>
                  <li [class.active]="selectedLaunchIndex == j" *ngFor="let launch of launchSuccessArr; let j=index">
                    <mat-button-toggle-group formControlName="launchSuceess" > 
                      <mat-button-toggle value="{{launch}}" (click)="selectedLaunchIndex = j" (click)="filterOnAllParams()" >{{launch}}</mat-button-toggle>
                    </mat-button-toggle-group>
                  
              </ul>
          </div>
          <!--/ Successful Launch -->

          <!-- Successful Landing -->
          <div class="filter-box">
              <h4>Successful Landing</h4>
              <ul>
                <li [class.active]="selectedLandIndex == j" *ngFor="let land of landSuccessArr; let j=index">
                  <mat-button-toggle-group formControlName="landSuceess" > 
                    <mat-button-toggle value="{{land}}" (click)="selectedLandIndex = j" (click)="filterOnAllParams()" >{{land}}</mat-button-toggle>
                  </mat-button-toggle-group>
                
            </ul>
          </div>
        </form>
          <!--/ Successful Landing -->
      </div>
      <!--/ Filters -->

      <!-- Program -->
      <div class="rht-sidebar">
          <div class="program-grid" *ngIf="filteredResult && filteredResult.length >0; else noDataTemplate">
              <!-- Program Card -->
              <div class="column" *ngFor="let launchDetail of filteredResult">
                  <div class="program-card" >
                      <div class="image-box">
                        <img src="{{launchDetail.links.mission_patch_small}}" alt="Program Image">
                      </div>
                      <h3>FalconSat #1</h3>
                      <ul>
                          <li>
                              <label>Mission ids: </label> {{launchDetail.mission_name}}
                          </li>
                          <li>
                              <label>Launch Year: </label> {{launchDetail.launch_year}}
                          </li>
                          <li>
                              <label>Successful Launch: </label> {{launchDetail.launch_success}}
                          </li>
                          <li>
                              <label>Successful Landing: </label> {{launchDetail.rocket.first_stage.cores[0].land_success}}
                          </li>
                      </ul>
                  </div>
              </div>
              <!--/ Program Card -->

          </div>
          <ng-template #noDataTemplate>
            <div class="no-data">
              <p>No Data Found</p>
            </div>
          </ng-template>
      </div>
      <!--/ Program -->
  </div>

  <!-- Footer -->
  <div class="footer">
      <strong>Developed by</strong> Sumant Kawathekar
  </div>
  <!--/ Footer -->
</div>
